<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
    <%- include('../templates/meta.ejs') %>
</head>
<body class="inner-page">
<%- include('../templates/header.ejs') %>

<section class="simple-section">
    <div class="simple-section__title left animate">
        <h2> Искусственный интеллект<br> и машинное обучение</h2>
    </div>
    <div class="container-md container-xxl">

        <div class="service">
            <div class="row service-content">
                <div class="col-lg-6">
                    <p>
                        Технологии искусственного интеллекта и машинного обучения открывают новые возможности для автоматизации процессов, повышения эффективности и принятия обоснованных решений. 
                        Мы помогаем бизнесу внедрять эти технологии для достижения конкурентных преимуществ.</p>
                        <div class="dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        
                </div>
                <div class="col-lg-6">
                    <div class="service-content-image">
                        <div class="rounded-img right">
                          <img src="../assets/img/ai-and-machine-learning.webp"  alt="Искусственный интеллекте">
                        </div>
                        <svg class="icon light-red-dots">
                          <use xlink:href="#light-red-dots"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="service-features">
                <div class="service-content__title"><h3 class="accent-title">Что мы предлагаем?</h3></div>
                    <ul class="accent-list">
                        <li>
                            <div class="accent-list__content">
                                <h5>Разработка AI-решений</h5>
                                <p> Создаем модели машинного обучения для задач классификации, прогнозирования, распознавания образов и обработки естественного языка.
                                </p>
                            </div>  
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Аналитика данных</h5>
                                <p>Проводим глубокий анализ данных для выявления скрытых закономерностей и трендов, помогаем в принятии стратегических решений.</p> 
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Автоматизация процессов</h5>
                                <p>Внедряем интеллектуальные системы для автоматизации рутинных задач, что позволяет высвободить ресурсы и повысить производительность.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Чат-боты и виртуальные ассистенты</h5>
                                <p>Разрабатываем интеллектуальных ботов для улучшения взаимодействия с клиентами и поддержки пользователей.</p>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
        </div>

    </div>

</section>


<%- include('../templates/footer.ejs') %>
</body>
</html>