<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Olipax Telera | Управление компьютерными системами</title>
    <%- include('../templates/meta.ejs') %>
</head>
<body class="inner-page">
<%- include('../templates/header.ejs') %>

<section class="simple-section">
    <div class="simple-section__title left animate">
        <h2>Управление <br>компьютерными системами</h2>
    </div>
    <div class="container-md container-xxl">

        <div class="service">
            <div class="row service-content">
                <div class="col-lg-6">
                    <p>
                        Мы обеспечиваем комплексное управление и поддержку не только IT-инфраструктуры, 
                        но и аппаратных средств, включая серверы, сетевое оборудование и специализированные устройства.</p>
                        <div class="dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-content-image light-dots-bottom-right">
                        <div class="rounded-img right">
                          <img src="../assets/img/computer-systems-management.webp"  alt="Компьютерные системы">
                        </div>
                        <svg class="icon light-red-dots">
                          <use xlink:href="#light-red-dots"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="service-features">
                <div class="service-content__title"><h3 class="accent-title">Что мы предлагаем?</h3></div>
                    <ul class="accent-list">
                        <li>
                            <div class="accent-list__content">
                                <h5>Управление серверными и вычислительными кластерами</h5>
                                <p>Настройка и обслуживание высокопроизводительных вычислительных систем.
                                </p>
                            </div>  
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Поддержка и обслуживание специализированного оборудования</h5>
                                <p>Обслуживание и обновление аппаратных компонентов, включая FPGA и ASIC.</p> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</section>


<%- include('../templates/footer.ejs') %>
</body>
</html>