<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
    <%- include('../templates/meta.ejs') %>
</head>
<body class="inner-page">
<%- include('../templates/header.ejs') %>

<section class="simple-section">
    <div class="simple-section__title left animate">
        <h2>Кибербезопасность</h2>
    </div>
    <div class="container-md container-xxl">

        <div class="service">
            <div class="row service-content">
                <div class="col-lg-6">
                    <p>
                        В современном мире, где киберугрозы становятся все более изощренными, обеспечение безопасности информационных систем, 
                        аппаратных и программных решений является критически важным. 
                        Мы предлагаем полный спектр услуг по кибербезопасности, защищая ваш бизнес от внутренних и внешних угроз.</p>
                        <div class="dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <p>Мы применяем комплексный подход к кибербезопасности, сочетая технические меры с организационными и образовательными. 
                            Наши специалисты постоянно отслеживают новые угрозы и тенденции, обеспечивая актуальность и эффективность наших решений.</p>
                        
                </div>
                <div class="col-lg-6">
                    <div class="service-content-image">
                        <div class="rounded-img right">
                          <img src="../assets/img/hand-pressing-security-button-touch-screen.webp"  alt="Кибербезопасность">
                        </div>
                        <svg class="icon light-red-dots">
                          <use xlink:href="#light-red-dots"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="service-features">
                <div class="service-content__title"><h3 class="accent-title">Что мы предлагаем?</h3></div>
                    <ul class="accent-list">
                        <li>
                            <div class="accent-list__content">
                                <h5>Оценка рисков и уязвимостей</h5>
                                <p>Проводим комплексные аудиты безопасности, выявляем потенциальные риски и разрабатываем рекомендации по их устранению.
                                </p>
                            </div>  
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Тестирование на проникновение</h5>
                                <p>Симулируем кибератаки, чтобы проверить устойчивость ваших систем и обнаружить слабые места.</p> 
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Обучение персонала</h5>
                                <p>Организуем тренинги и семинары для повышения осведомленности сотрудников о киберугрозах и способах защиты.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Управление инцидентами безопасности</h5>
                                <p>Предоставляем услуги по мониторингу и оперативному реагированию на инциденты, минимизируя последствия атак.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Разработка политик и процедур безопасности</h5>
                                <p>Помогаем установить стандарты и регламенты, соответствующие лучшим мировым практикам и законодательным требованиям.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Защита встроенных систем</h5>
                                <p>Разработка безопасного программного обеспечения для микроконтроллеров и процессоров.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Криптографические решения</h5>
                                <p>Внедрение аппаратных модулей безопасности и криптографических алгоритмов для защиты данных.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Оценка безопасности аппаратных устройств</h5>
                                <p>Анализ уязвимостей в аппаратных компонентах и разработка мер по их устранению.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            
            </div>
        </div>

    </div>

</section>


<%- include('../templates/footer.ejs') %>
</body>
</html>