<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Olipax Telera | Обработка данных и веб-порталы</title>
    <%- include('../templates/meta.ejs') %>
</head>
<body class="inner-page">
<%- include('../templates/header.ejs') %>

<section class="simple-section">
    <div class="simple-section__title left animate">
        <h2>Обработка данных<br> и веб-порталы</h2>
    </div>
    <div class="container-md container-xxl">

        <div class="service">
            <div class="row service-content">
                <div class="col-lg-6">
                    <p>
                        В эпоху цифровой трансформации эффективное управление данными и взаимодействие через веб-порталы становятся ключевыми факторами успеха. 
                        Мы разрабатываем решения, которые объединяют программные и аппаратные компоненты для эффективной обработки данных и предоставления сервисов 
                        через веб-порталы а также комплексные решения для создания функциональных и безопасных веб-платформ и систем обработки данных.</p>
                        <div class="dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <p>Мы разрабатываем решения с учетом требований адаптивного дизайна, 
                            что обеспечивает корректное отображение и удобство использования на всех типах устройств — от смартфонов до настольных компьютеров.</p>
                        
                </div>
                <div class="col-lg-6">
                    <div class="service-content-image light-dots-bottom-right">
                        <div class="rounded-img right">
                          <img src="../assets/img/data-processing.webp"  alt="Обработка данных">
                        </div>
                        <svg class="icon light-red-dots">
                          <use xlink:href="#light-red-dots"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="service-features">
                <div class="service-content__title"><h3 class="accent-title">Что мы предлагаем?</h3></div>
                    <ul class="accent-list">
                        <li>
                            <div class="accent-list__content">
                                <h5>Разработка корпоративных порталов и внутренних систем</h5>
                                <p>Создаем платформы для внутреннего взаимодействия сотрудников, обмена информацией и управления процессами.
                                </p>
                            </div>  
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Разработка e-commerce платформ</h5>
                                <p>Проектируем и внедряем онлайн-магазины с полной функциональностью, включая корзину покупок, интеграцию платежных систем, управление товарами и заказами.</p> 
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Обработка и хранение больших данных</h5>
                                <p>Разрабатываем системы для сбора, хранения и анализа больших объемов данных, используя технологии Big Data и машинного обучения.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Поддержка и модернизация существующих веб-решений</h5>
                                <p>Обновляем и улучшаем функциональность существующих веб-сайтов и приложений, повышая их производительность и безопасность.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Интеграция аппаратных устройств с веб-сервисами</h5>
                                <p>Создание систем мониторинга и управления устройствами через веб-интерфейсы.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Обработка данных с IoT-устройств</h5>
                                <p>Сбор и анализ данных от сенсоров и встроенных систем для принятия обоснованных решений.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            
            </div>
        </div>

    </div>

</section>


<%- include('../templates/footer.ejs') %>
</body>
</html>