<!DOCTYPE html>

<html lang="en">
<head>
    <title>Olipax Telera | IT-консалтинг</title>
    <%- include('../templates/meta.ejs') %>
</head>
<body class="inner-page">
<%- include('../templates/header.ejs') %>

<section class="simple-section">
    <div class="simple-section__title left animate">
        <h2>IT-консалтинг</h2>
    </div>
    <div class="container-md container-xxl">

        <div class="service">
            <div class="row service-content">
                <div class="col-lg-6">
                    <p>
                        В современном мире информационные технологии играют ключевую роль в успехе бизнеса. Наши консультанты не оценят текущую IT-инфраструктуру, 
                        предоставят консультации в сфере микроэлектроники но и помогут 
                        выявлению области для улучшения и разработать стратегию, которая позволит вашему бизнесу быть более эффективным и конкурентоспособным.</p>
                        <div class="dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <p>Наши консультанты работают в тесном сотрудничестве с вашими специалистами, чтобы глубоко понять потребности и особенности вашего бизнеса. 
                            Мы предоставляем практические рекомендации и помогаем в их реализации, обеспечивая достижение поставленных целей.</p>
                        
                </div>
                <div class="col-lg-6">
                    <div class="service-content-image">
                        <div class="rounded-img right">
                          <img src="../assets/img/it-consulting.webp"  alt="IT-консалтинг">
                        </div>
                        <svg class="icon light-red-dots">
                          <use xlink:href="#light-red-dots"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="service-features">
                <div class="service-content__title"><h3 class="accent-title">Что мы предлагаем?</h3></div>
                    <ul class="accent-list">
                        <li>
                            <div class="accent-list__content">
                                <h5>Оптимизация бизнес-процессов с помощью IT</h5>
                                <p>Анализируем текущие процессы, выявляем узкие места и предлагаем решения для их устранения с использованием современных технологий.
                                </p>
                            </div>  
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Оценка и модернизация существующих IT-инфраструктур</h5>
                                <p>Проводим аудит систем, разрабатываем планы по обновлению оборудования и программного обеспечения, обеспечиваем совместимость и масштабируемость.</p> 
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Внедрение облачных решений и технологий</h5>
                                <p>Помогаем перейти на облачные платформы, что позволяет снизить затраты на инфраструктуру и повысить гибкость бизнеса.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Стратегическое планирование IT</h5>
                                <p>Разрабатываем долгосрочные планы развития IT-инфраструктуры в соответствии с целями и стратегией компании.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Оптимизация аппаратно-программных комплексов</h5>
                                <p>Анализ и улучшение взаимодействия между программным обеспечением и аппаратными компонентами.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Консультации по выбору аппаратной платформы</h5>
                                <p>Помощь в выборе оптимальных микропроцессоров, микроконтроллеров и других компонентов для ваших проектов.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Внедрение IoT (Internet of Things) решений</h5>
                                <p>Разработка и интеграция умных устройств в бизнес-процессы.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            
            </div>
        </div>

    </div>

</section>


<%- include('../templates/footer.ejs') %>
</body>
</html>