<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Olipax Telera | Програмирование</title>
    <%- include('../templates/meta.ejs') %>
</head>
<body class="inner-page">
<%- include('../templates/header.ejs') %>

<section class="simple-section">
    <div class="simple-section__title left animate">
        <h2>Програмирование</h2>
    </div>
    <div class="container-md container-xxl">

        <div class="service">
            <h3 class="service__title"><span class="accent-text">Разработка программного обеспечения является одним</span> из ключевых направлений нашей деятельности.</h3>
            <div class="row service-content">
                <div class="col-lg-6">
                    <p>
                        Мы предлагаем полный цикл разработки — от сбора и анализа требований до внедрения и последующей поддержки, архитектуру, 
                        которая интегрируются с аппаратными компонентами и отвечают самым высоким стандартам качества.</p>
                        <div class="dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <p>Наши решения отличаются высокой производительностью, 
                        надежностью и удобством использования, что позволяет нашим клиентам достигать своих бизнес-целей. </p>
                        <div class="dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <p>Мы придерживаемся гибких методологий разработки, таких как Agile и Scrum, 
                            что позволяет нам быстро адаптироваться к изменениям требований и обеспечивать прозрачность на всех этапах проекта. 
                            Мы тесно сотрудничаем с клиентами, регулярно предоставляя отчеты о прогрессе и получая обратную связь.</p>
                </div>
                <div class="col-lg-6">
                    <div class="service-content-image light-dots-bottom-right">
                        <div class="rounded-img right">
                          <img src="../assets/img/programming-background-with-person-working-with-codes-computer.webp"  alt="Програмирование">
                        </div>
                        <svg class="icon light-red-dots">
                          <use xlink:href="#light-red-dots"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="service-features">
                <div class="service-content__title"><h3 class="accent-title">Что мы предлагаем?</h3></div>
                    <ul class="accent-list">
                        <li>
                            <div class="accent-list__content">
                                <h5>Разработка программного обеспечения "под ключ"</h5>
                                <p>Создаем индивидуальные программные продукты, 
                                    полностью адаптированные под ваши бизнес-процессы и требования.
                                </p>
                            </div>  
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Встроенное программирование (Embedded Software)</h5>
                                <p>Разработка программного обеспечения для микроконтроллеров и встроенных систем.</p> 
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Разработка программного обеспечения для микроконтроллеров и встроенных систем.</h5>
                                <p>Разрабатываем современные приложения для iOS, Android и веб-платформ с использованием передовых технологий и UX/UI дизайна.</p>
                            </div>
                        </li>
                        <li>
                            <div class="accent-list__content">
                                <h5>Интеграция корпоративных систем</h5>
                                <p>Объединяем различные системы и приложения в единое информационное пространство, повышая эффективность и скорость бизнес-процессов.
                                </p>
                            </div>
                        </li>
                    </ul>
            </div>      
            <div class="service-features__technologies">
                <h5 class="accent-text">Технологии, которые мы используем:</h5>
                <ul class="simple-list">
                    <li>
                        <p><b>Языки программирования: </b>Assembler, C, Delphi, C++, Java, C#, JavaScript, Typescript. 
                        </p>
                    </li>
                    <li>
                        <p><b>Базы данных: </b>Custom DBMS, MySQL, PostgreSQL, Oracle Database, SQL Server.</p>
                    </li>
                    <li>
                        <p><b>Облачные технологии: </b>AWS, Google Cloud Platform, Cloudflare. </p>
                    </li>
                </ul>
            </div>
            </div>
        </div>

    </div>

</section>


<%- include('../templates/footer.ejs') %>
</body>
</html>