

<section id="contacts" class="contacts simple-section" >
    <div class="simple-section__title left animate">
      <h2>Контакты</h2>
    </div>
    <div class="container-md container-xxl">
      <h3 class="contacts__subtitle"><span class="accent-text">Olypax Telera</span> - ваш надежный партнер в мире информационных 
        технологий и микроэлектроники. </h3>
      <div class="row">
        <div class="col-lg-6">
          <div class="contacts__text accent-text-block">
            <p>Мы стремимся к долгосрочному сотрудничеству и готовы предложить решения, объединяющие программное обеспечение и аппаратные технологии, которые помогут вашему бизнесу расти и процветать. </p>
            <div class="dots accent-text-block__dots">
              
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>        
            <p>Независимо от того, являетесь ли вы крупной корпорацией или стартапом, мы подберем для вас оптимальные технологии и предоставим высокий уровень обслуживания.</p> 
          </div>
        </div>
        <div class="col-lg-6">

          <div class="contacts__data">
            <h3>Контакты:</h3>
            <div class="contacts__data-row d-flex">
              <span>
                <svg class="icon">
                  <use xlink:href="#envelope-solid"></use>
                </svg>
              </span>
              <a href="mailto:office@olypaxtelera.com">office@olypaxtelera.com</a>
            </div>
            <div class="contacts-data__row d-flex">
              <span>
                <svg class="icon">
                  <use xlink:href="#location-dot-solid"></use>
                </svg>
              </span>
              <p>NEPTUNE HOUSE, Floor 1, Flat/Office 11, 
                Voukourestiou 25, 3045 Zakaki, Limassol, Cyprus</p>
            </div>
          </div>
          <div class="contacts__data">
            <h3>Реквизиты компании:</h3>
            <div class="d-flex">
              <p>
                Полное наименование: OLYPAX TELERA LTD<br>
                Registration Number: C465340<br>
                Type Limited Company
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer" class="simple-section footer-main">
    <div class="container-md container-xxl">
      <h3 class="footer-main__subtitle"><span class="accent-text">Свяжитесь с нами</span> уже сегодня и узнайте,<br> как наши решения могут помочь вам достичь успеха!</h3>
      <div class="row footer-main__row">
        
        <div class="col-md-6 col-xxl-7">
          <h3>Карта проезда</h3>
          <div id="location" class="footer-main__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3281.8905876003505!2d33.012104!3d34.657466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzTCsDM5JzI2LjkiTiAzM8KwMDAnNDMuNiJF!5e0!3m2!1sen!2ses!4v1734431350714!5m2!1sen!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-xxl-5 contact-form-box">
          <h3>Форма обратной связи</h3>
          <div class="footer-main__form">
            <form id="footer-form" class="contact-form">
              <div class="contact-form-group">
                <label for="user-name">Ваше имя <span class="accent-text">*</span></label>
                <input type="text" id="user-email" name="user-name" class="contact-form-group__item" required>
              </div>
              <div class="contact-form-group">
                <label for="user-email">Ваш эмейл <span class="accent-text">*</span></label>
                <input  type="email" id="user-email" name="user-email" class="contact-form-group__item" required 
                        pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" 
                        title="Введите корректный email (например, example@mail.com)">
              </div>
              <div class="contact-form-group">
                <label for="user-phone">Ваш номер телефона <span class="accent-text">*</span></label>

                <input type="tel" id="user-phone" name="user-phone" class="contact-form-group__item" required
                      pattern="^\+?[0-9]{1,4}?[\s\-()]*[0-9]{7,20}$"
                      title="Введите корректный номер телефона (например, +1234567890 или (123) 456-7890)">
              </div>
              <div class="contact-form-group">
                <label for="user-message">Ваше сообщение</label>
                <textarea id="user-message" name="user-message" class="contact-form-group__item textarea-item"></textarea>
              </div>
              <p id="form-status" class="contact-form-status"></p>
              <div class="contact-form-group d-flex justify-content-end">
                <input type="submit" value="Отправить" class="contact-form-group__button accent-button">
              </div>
            </form>
            <svg class="icon light-red-dots">
              <use xlink:href="#light-red-dots"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright">
    <div class="container-md container-xxl d-flex justify-content-between">
      <p>@Copyright  2025-2026. Все права защищены.</p>
      <a href="./privacy-policy.html" target="_blank">Политика конфиденциальности</a>
    </div>
  </div>

  <div id="cookie-notification" class="cookie-notification">
    <p>
      Мы используем cookie-файлы для обеспечения удобства работы с сайтом, персонализации контента и предоставления вам наиболее релевантной информации. 
      Cookie-файлы помогают нам анализировать взаимодействие пользователей с сайтом, улучшать его функционал и адаптировать наши услуги под ваши потребности. Продолжая использовать данный сайт, вы подтверждаете своё согласие на использование cookie-файлов       
    </p>
    <button id="accept-cookies" class="simple-button">Принять</button>
  </div>
