<!DOCTYPE html>

<html lang="en">
<head>
    <title>Olipax Telera | Карьера</title>
    <%- include('./templates/meta.ejs') %>
</head>
<body class="inner-page">

<%- include('./templates/header.ejs') %>

<section class="career simple-section ">
  <div class="simple-section__title left animate">
    <h2>Карьера</h2>
  </div>
  <div class="container-md container-xxl">
    <div class="row">
      <h4 class="career-subtitle"><span class="accent-text">Присоединяйтесь к команде профессионалов <span class="no-wrap">Olypax Telera Ltd</span></span>  
        и станьте частью динамично развивающейся компании, где вы сможете реализовать свой потенциал и внести 
        вклад в создание инновационных решений.</h4>
      <div class="career-vacancy__title"><h3 class="accent-title">Открытые вакансии</h3></div>
        <div class="col-lg-6 career-vacancy">
          <h5 class="career-vacancy__subtitle">Разработчик программного обеспечения (JavaScript/TypeScript/C#)</h5>
          <p><b>Требования:</b> опыт от 3 лет, знание современных фреймворков, умение работать в команде.</p>
          <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <h5 class="career-vacancy__subtitle">Консультант по IT-инфраструктуре</h5>
          <p><b>Требования:</b> опыт работы с корпоративными системами, облачными технологиями, навыки проектного управления.</p>
          <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <h5 class="career-vacancy__subtitle">Менеджер проектов</h5>
          <p><b>Требования:</b> опыт управления IT-проектами от 5 лет, знание методологий Agile/Scrum, отличные коммуникативные навыки.</p>
        </div>
        <div class="col-lg-6">
          <div class="career-image">
            <div class="rounded-img right">
              <img src="assets/img/team-business-people-stacking-hands.webp"  alt="Команда профессионалов IT">
            </div>
            <svg class="icon light-red-dots">
              <use xlink:href="#light-red-dots"></use>
            </svg>
          </div>
          
        </div>
    </div>
    <div class="row career-advantages">
        <h4 class="career-subtitle">
          Мы ценим инициативность, стремление к развитию и инновационный подход. <br>
          В <span class="accent-text no-wrap">Olypax Telera Ltd </span> вы найдете поддерживающую среду, где <span class="accent-text">идеи каждого сотрудника имеют значение.</span>
        </h4>
        <div class="col-lg-6">
          <div class="career-vacancy__title"><h3 class="accent-title">Преимущества работы у нас</h3></div>
          <ul class="accent-list">
            <li>
              <p>Конкурентоспособная заработная плата и бонусы.</p>
            </li>
            <li>
              <p><b>Социальный пакет:</b> медицинская страховка, оплачиваемый отпуск, корпоративные мероприятия.</p> 
            </li>
            <li>
              <p>Гибкий график работы и возможность удаленной работы.</p>
            </li>
            <li>
              <p>Программы обучения и повышения квалификации, включая курсы и сертификации.</p>
            </li>
            <li>
              <p>Возможность участия в международных проектах и командировках.</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 d-flex align-items-center">

          <div class="career-advantages__text">
            <h3>Программа стажировок</h3>
            <p>Мы предлагаем стажировки для студентов и выпускников, которые хотят начать карьеру в IT-индустрии. 
            Стажеры получают возможность работать над реальными проектами под руководством опытных наставников.</p>
            <h3>Как подать заявку?</h3>
            <p>Отправьте свое резюме и сопроводительное письмо на <a href="mailto:office@olypaxtelera.com"></a>
              с указанием желаемой позиции в теме письма.</p>
          </div>
          
        </div>
        
    </div>
  </div>
  </section>

<%- include('./templates/footer.ejs') %>

</body>
</html>