<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
    <%- include('./templates/meta.ejs') %>
</head>
<body class="inner-page">
<%- include('./templates/header.ejs') %>

<section class="simple-section">
    <div class="simple-section__title left animate">
        <h2>Политика<br> конфиденциальности</h2>
    </div>
    
    <div class="container-md container-xxl">
        <h5>Мы уделяем особое внимание защите личных данных и информации наших клиентов. 
            В данном разделе вы можете ознакомиться с нашей политикой конфиденциальности, 
            где подробно описано, как мы собираем, используем и защищаем вашу информацию.</h5>
        <div class="privacy-policy">
            <h3 class="accent-text">Основные положения:</h3>
                <ul class="simple-list privacy-policy-list">
                    <li>
                        <div class="simple-list__content">
                            <h6>Сбор данных:</h6>
                            <p>Мы собираем только ту информацию, которая необходима для предоставления услуг и улучшения качества обслуживания.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="simple-list__content">
                            <h6>Использование данных:</h6>
                            <p>Полученные данные используются исключительно в рамках согласованных целей и не передаются третьим лицам 
                            без вашего согласия.</p> 
                        </div>
                    </li>
                    <li>
                        <div class="simple-list__content">
                            <h6>Защита данных:</h6>
                            <p>Мы применяем современные технические и организационные меры для защиты ваших данных от 
                            несанкционированного доступа, изменения или уничтожения.</p>
                        </div>
                    </li>
                    <li>
                        <div class="simple-list__content">
                           <h6>Права пользователей:</h6>
                            <p>Вы имеете право запросить доступ к своим данным, их исправление или удаление, а также ограничить или возразить против обработки данных.
                            </p> 
                        </div>
                        
                    </li>
                </ul>
                <div class="privacy-policy-contacts">
                    <h6 class="accent-text">Свяжитесь с нами по вопросам конфиденциальности:</h6>
                    <div class="d-flex">
                        <span>
                        <svg class="icon">
                            <use xlink:href="#envelope-solid"></use>
                        </svg>
                        </span>
                        <a href="mailto:privacy@olypaxtelera.com">privacy@olypaxtelera.com</a>
                    </div>
                </div>
                
            
        </div>
        
    </div>
</section>

<%- include('./templates/footer.ejs') %>
</body>
</html>