@use "fonts";
@use "vars";
@use "mixin" as *;
@use "media"as *;

.career {
    &-subtitle {
        margin: 30px 0 60px; 
        @include desktop-xl {
            margin: 45px 0 60px;
            max-width: vars.$max-width-block;
        }
        @include desktop-xl {
            margin: 60px 0 90px;
        }   
    }
    &-vacancy {
        margin-bottom: 50px;
        @include desktop-sm {
            margin-bottom: 0;
        }
        &__title {
            margin-bottom: 30px;
            @include desktop-sm {
                margin-bottom: 50px;
            }
        }
        &__subtitle {
            margin-bottom: 10px;
            color: vars.$accent-color;
        }
    }
    .dots {
        margin: 20px 0;
        @include desktop-xl {
            margin: 30px 0;
        }
    }
    &-image {
        margin-bottom: 20px;
        position: relative;
        @include desktop-xl {
            margin-bottom: 0;
        }
        .light-red-dots {
            @include light-red-dots-bottom-right;
        }
    }
    &-advantages {
        
        @include desktop-sm {
            padding-top: 30px;
        }
        &__text {
            @include desktop-sm {
                padding-top: 50px;
            }
            h3 {
                padding: 30px 0;
                color: vars.$accent-color;
            }
        }
        .accent-list {
            padding: 15px;
            @include light-blue-bg;
            border-radius: vars.$radius-simple-mobile;
            border-top-left-radius: 0;
            @include desktop {
                padding: 30px;
                border-radius: vars.$radius-simple;
                border-top-left-radius: 0;
            }
        }
    }
}