@use "fonts";
@use "vars";
@use "media"as *;



@mixin light-blue-bg {
    background-color: vars.$secondary-color;
    box-shadow: inset 1px 1px 20px rgba(15,110,173,0.1);
}
@mixin red-bg {
    background-color: vars.$accent-color;
    box-shadow: inset 1px 1px 10px 10px rgba(190, 49, 49, 0.5);
}

@mixin blue-bg {
    background-color: vars.$second-accent-color;
    box-shadow: inset 1px 1px 20px 0 vars.$second-accent-color-darker;
}

