$base-color:                #fff;
$secondary-color:           #DAE6F3;
$secondary-color-lighter:   #F3F8FF;
$secondary-color-darker:    #98b1c9;

$dark-color:                #2C3E50;
$second-dark-color:         #1f3041;

$accent-color:              #db3434;
$second-accent-color:       #3498DB;
$accent-color-darker:       #be3131;
$second-accent-color-darker:#0f6ead;

$h1-size:               52px;
$h1-size-desktop:       44px;
$h1-size-desktop-sm:    34px;
$h1-size-tablet:        28px;
$h1-size-mobile:        26px;

$h2-size:               46px;
$h2-size-desktop:       40px;
$h2-size-desktop-sm:    32px;
$h2-size-tablet:        28px;
$h2-size-mobile:        26px;

$h3-size:               32px;
$h3-size-desktop:       26px;
$h3-size-desktop-sm:    24px;
$h3-size-tablet:        22px;
$h3-size-mobile:        20px;

$h4-size:               28px;
$h4-size-desktop:       24px;
$h4-size-tablet:        22px;
$h4-size-mobile:        20px;

$h5-size:               24px;
$h5-size-desktop:       22px;
$h5-size-tablet:        20px;
$h5-size-mobile:        18px;

$h6-size:               22px;
$h6-size-tablet:        18px;
$h6-size-mobile:        16px;

$text-size:             20px;
$text-size-tablet:      18px;
$text-size-mobile:      16px;

$radius-small:          10px;

$radius-simple:         25px;
$radius-simple-mobile:  15px;

$radius-large:          50px;
$radius-large-mobile:   25px;


$max-width-block:       1000px;
